<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/it.jpg" alt="Los Angeles" class="d-block w-100">
        <div class="carousel-caption">
            <h3>ICTAK Training Management System</h3>
            <p>ICTAK do research and offers training programs on diverse streams,ranging from emerging technologies to life skills.

                Being a Social Enterprise, we strive to enhance the technology skills of the youth thereby embibing industry relavent skills to this</p>
        </div>
    </div>
      <div class="carousel-item">
        <img src="../../assets/img/mobile.jpg" alt="Chicago" class="d-block w-100">
        <div class="carousel-caption">
            <h3>What is ICT Academy of Kerala?</h3>
            <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/12.jpg" alt="New York" class="d-block w-100">
        <div class="carousel-caption">
            <h3>Our Key Focus Areas</h3>
            <p>Industry focused enablement programmes for Faculty members
                Industry focused ICT Skills development programmes for Students
                Project assignments related to capability building for Institutions and Corporate.
                Creating Intellectual Property on niche skill areas and emerging technologies.</p>
        </div>
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">ICTAK TRAINER MANAGEMENT SYSTEM</h2>
    <!-- <p class="w3-opacity"><i>We love music</i></p> -->
    <p class="w3-justify">Numerous organizations are now facing the major challenge to meet the training needs to train resource by assuring the standardized process of content development and delivery. Also, there is a necessity of using a consistent technology environment to meet the requirement. All training should be more sophisticated, flexible and scalable. So, the organizations require a solution for Planning, Designing Developing, Implementing and Evaluating the Learning Process. We have an in-depth domain of expertise, and we provide custom Learning Management solutions. Our certified experts in the field are capable of designing the system based on learning technology standards such as SCORM (Sharable Courseware Object Reference Model), AICC (Aviation Industry Computer-based Training Committee), IMS (Integrated Management Systems).</p>

  </div>
<!-- The Tour Section -->
<div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">ICTAK TRAININGS</h2>
      <p class="w3-opacity w3-center"><i>Register for your Career!</i></p><br>

      <!-- <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">September <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">November <span class="w3-badge w3-right w3-margin-right">3</span></li>
      </ul> -->

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="../../assets/img/Institutional-Training-1.png" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>INSTITUTIONAL TRAINING</b></p>
            <!-- <p class="w3-opacity"></p> -->
            <p>ICT Academy of Kerala associate with educational institutions across the state of Kerala to improve employability skills of the both Faculty and the Students. </p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Register</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="../../assets/img/Graduate-Training.png" alt="GRADUATE TRAINING" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>GRADUATE TRAINING</b></p>
            <!-- <p class="w3-opacity"></p> -->
            <p>ICT Academy of Kerala provides Industry focused ICT skills development program for Students . Project assignment related to capability building for are also provided.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Register</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="../../assets/img/corporate-Training.png" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>CORPORATE TRAINING</b></p>
            <!-- <p class="w3-opacity">Sun 29 Nov 2016</p> -->
            <p>ICT Academy of Kerala provides world class training to the corporates which enables to upskill their employees,reduce the cost and gain competitive edge in the Industry.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Register</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <img src="../../assets/img/Govt.-capacity-training.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>GOVT. CAPACITY BUILDING PROGRAMME</b></p>
              <!-- <p class="w3-opacity">Sun 29 Nov 2016</p> -->
              <p>We partnered with KSITM for Capacity building programme for Govt.employees and Akshaya Entrepreneurs and with ASAP in IT skill sector for last 4 years and have trained students in NSDC certificate courses.</p>
              <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Register</button>
            </div>
          </div>
          <div class="w3-third w3-margin-bottom">
            <img src="../../assets/img/Partner-Program.png" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>PARTNER PROGRAMME</b></p>
              <!-- <p class="w3-opacity">Sun 29 Nov 2016</p> -->
              <p>We in association with wolld wide MNC companies and other stakeholders, conducts various industry as well as academic relevent training programms for students faculties as well as working professionals.</p>
              <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Register</button>
            </div>
          </div>
          <div class="w3-third w3-margin-bottom">
            <img src="../../assets/img/Graduate-Training.png" alt="GRADUATE TRAINING" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>GRADUATE TRAINING</b></p>
              <!-- <p class="w3-opacity"></p> -->
              <p>ICT Academy of Kerala provides Industry focused ICT skills development program for Students . Project assignment related to capability building for are also provided.</p>
              <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Register</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="w3-row w3-padding-32">
    <h2 class="w3-wide">ICTAK COURSES</h2>
  <div class="w3-third">
    
    <p>Full Stack Development</p>
    <img src="../../assets/img/4.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
  </div>
  <div class="w3-third">
    <p>Data Science and Analytics</p>
    <img src="../../assets/img/10.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
  </div>
  <div class="w3-third">
    <p>Robotic Process Automation</p>
    <img src="../../assets/img/12.png" class="w3-round" alt="Random Name" style="width:60%">
  </div>


</div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i>L-9, Thejaswini Building,Technopark, Thiruvananthapuram,<br>
        <i class="fa fa-phone" style="width:30px"></i>Phone: +91-471-2700811<br>
        <i class="fa fa-envelope" style="width:30px"> </i>info@ictkerala.org<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->


<!-- Image of location/map -->
<!-- <img src="../../assets/img/3.png" class="w3-image w3-greyscale-min" style="width:100%"> -->


