<div class="footer-dark">
    <footer>
    
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">ICT Academy of Kerala</a></li>
                        <li><a href="#">L-9, Thejaswini Building,
                            Technopark, Thiruvananthapuram,
                            Kerala, India.</a></li>
                        <li><a href="#">info@ictacedemy.in</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>ICT Academy of Kerala</h3>
                    <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">ICT Academy © 2021</p>
        </div>
    </footer>
</div>

    
        